.table_pagination_wrapper{
    width: 100%;
    background-color: #f8fafb;
    height: 45px;
    // position: sticky;
    // bottom: 0;
    select{
        margin-right: 45px;
    }
    select, .no{
        background-color: transparent;
        color: var(--textGrayColorV11);
        font-family: var(--headingFont);
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.6px;
        outline-style: none;
        border: none;
    }
    
    .arrows{
       margin-right: 30px;
       span{
        margin: 0 48px;
        cursor: pointer;
        &:last-child{
            margin-right: 0;
        }
       } 
    }
    
}

@media only screen and (max-width: 500px){
    .table_pagination_wrapper {
        select{
            display: none;
        }
    }
}