.primary_tab_wrapper{
    li{
        color: var(--textGrayColorV10);
        font-family: var(--commonFont);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-right: 48px;
        cursor: pointer;
        margin-bottom: 21px ;
        &:last-child{
            margin-right: 0;
        }
        &.active{
            font-weight: 700;
            color: var(--secondaryColor);
        }
    }
}




.filter_table_wrap{
    width: 100%;
    
}



// @media only screen and (max-width:1500px){
//     .filter_table_wrap {
//         overflow: auto;
//     }
// }


@media only screen and (max-width:750px){
    .primary_tab_wrapper{
        li{
            margin-right: 20px;
            font-size: 12px;
        }
    }
   
}