.right_side_panel{
    flex:1 0 85%;
    min-height: 86vh;
    background-color: var(--whiteColor);
    box-shadow: -6px 4px 8px 0px rgba(0, 0, 0, 0.03);
    padding: 16px;
    overflow: auto;
    .head_area{
        margin-bottom: 23px;
    }
    h2{
        color: var(--textGrayColorV10);
        font-family: var(--commonFont);
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        
    }
    .search_area{
        width: 250px;
        position: relative;
        .form_control{
            width: 100%;
            height: 40px;
            border-radius: 8px;
            border: 1px solid #C7E4FF;
            background: var(--whiteColor);
            box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.05);
            padding: 0 15px 0 54px;
            outline-style: none;
            color: var(--textGrayColorV10);
            font-family: var(--commonFont);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
        }
        img{
            position: absolute;
            top: 0;
            left: 15px;
            bottom: 0;
            margin: auto;
        }
    }
}

@media only screen and (max-width: 1365px){
    .right_side_panel{
        
        h2{
            font-size: 18px;
            margin-bottom: 10px;
        }
        
        
    }
}

@media only screen and (max-width: 1100px){
    .right_side_panel{
        flex:0 0 100%;
        .head_area{
            flex-wrap: wrap;
        }
        h2{
            font-size: 18px;
            margin-bottom: 10px;
        }
        .search_area{
            width: 100%;
        }
        
    }

}