

.table_section_area_wrapper{
    width: 100%;
    .head_filter_area{
        width: 100%;
        padding: 15px 21px;
        background-color: var(--whiteColor);
        border-bottom: #d5ddec 1px solid;
    }

    .filter_table_wrap{
        width: 100%;
    }
}