.common_wrapper{
    width: 100%;
    padding: 26px;
    height: calc(100vh - 64px - 64px);
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
    &::-webkit-scrollbar{
        display: none;
    }
}