.current_sentiment_card_wrapper{
    width: 100%;
    border-radius: 8px;
    border: 2px solid #E4E4F2;
    background-color: #F8F8FF;
    padding: 20px 20px 10px 20px;
    h2{
        color: var(--primaryColor);
        font-family: var(--commonFont);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.56px;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
        margin-bottom: 33px;
    }
    .range{
        width: 100%;
        height: 6px;
        border-radius: 100px;
        background-color: var(--offWhiteColorV14);
        margin: 5px 0 7px;
    }
    .status_range_wrapper{
        width: 100%;
        margin-bottom: 22px;
        .top_range{
            position: relative;
            span{
                color: #000;
                font-family: var(--commonFont);
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            .statusIcon{
                position: absolute;
                left: 0;
                right: 0;
                top: -7px;
                margin: auto;
            }
        }
        .status_value{
            width: 100%;
            span{
                color: var(--textGrayColorV10);
                font-family: var(--commonFont);
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
        
    }
    h6{
        color: var(--primaryColor);
        font-family: var(--commonFont);
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 15px;
    }
    .sentiment_graph{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
}


@media only screen and (max-width: 1500px){
    .current_sentiment_card_wrapper {
        padding: 12px;
        h2{
            font-size: 12px;
        }
        
        h6{
            font-size: 10px;
        }
    }
}