.tab_button_area{
    width: 100%;
    border-bottom: var(--offWhiteColorV2) 1px solid;
    
    li{
        color: var(--textGrayColorV7);
        font-family: var(--headingFont);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        cursor: pointer;
        padding: 20px 8px 20px 8px;
        cursor: pointer;
        position: relative;
        &::after{
            width: 0%;
            height: 2px;
            background-color: var(--primaryColor);
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            opacity: 0;
            transition: all 0.5s ease-in-out;
        }
        &.active{
            color: var(--primaryColor);
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #E1F5FF 100%);
            font-weight: 700;
            &::after{
                width: 100%;
                opacity: 1;
            }
            
        }
    }
}

.tab_area{
    position: relative;
    height: 61px;
    margin-bottom: 10px;
    .note{
        position: absolute;
        top: 0;
        right: 0;
        color: rgba(0, 0, 0, 0.50);
        text-align: center;
        font-family: var(--headingFont);
        font-size: 12px;
        font-style: italic;
        font-weight: 600;
        line-height: 16px; /* 133.333% */
        height: 61px;
        display: flex;
        align-items: center;
    }
}

@media only screen and (max-width:1230px){
    .tab_area .note{
        font-size: 10px;
    }
}

@media only screen and (max-width:1150px){
    .tab_area .note{
        height: 26px;
    }
}

@media only screen and (max-width:700px){
    .tab_area .note{
        height: 61px;
        width: 250px;
    }
}

@media only screen and (max-width:500px){
    .tab_area .note{
        display: none;
    }
}