.work_flow_header_area{
    width: 100%;
    height: 52px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    background-color: var(--whiteColor);
    padding: 0 16px;
    display: flex;
    align-items: center;
    h1{
        color: var(--primaryColor);
        font-family: var(--headingFont);
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        background-color: transparent !important;
        padding: 0;
    }
    .filter_wrap_area{
        .filter_button_area{
            margin-right: 25px;
            .refresh{
                margin-right: 9px;
                cursor: pointer;
            }
            .filter_button{
                padding: 10px 16px;
                border-radius: 8px;
                border: 1px solid var(--lightWhiteColor);
                background: var(--whiteColor);
                box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                color: var(--textGrayColorV8);
                font-family: var(--headingFont);
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                cursor: pointer;
                margin-right: 9px;
                &:last-child{
                    margin-right: 0;
                }
                img{
                    margin-left: 8px;
                }
            }
        }
        .new_workflow_button{
            border-radius: 8px;
            background-color: var(--primaryColor);
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            width: 173px;
            height: 36px;
            cursor: pointer;
            color: var(--whiteColor);
            font-family: var(--commonFont);
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            img{
                margin-right: 8px;
            }
        }
    }
}


@media only screen and (max-width:1600px){
    .work_flow_header_area {
        .filter_wrap_area {
            .filter_button_area {
                margin-right: 10px;
                .filter_button{
                    padding: 10px 10px;
                    font-size: 12px;
                    margin-right: 6px;
                }
            }
        }
    }

   
    
}

@media only screen and (max-width:1200px){
    .work_flow_header_area{
        flex-wrap: wrap;
        height: auto;
        padding: 10px 16px;
        .filter_wrap_area {
            overflow: auto;
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none; 
            flex-wrap: wrap;
            &::-webkit-scrollbar{
                display: none;
            }
            .filter_button_area {
                flex-wrap: wrap;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .filter_button{
                    width: auto;
                    flex: 1 0 30%;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media only screen and (max-width: 500px){
    .work_flow_header_area{
        
        .left{
            flex-wrap: wrap;
        }
    }
   
}