h1{
    color: var(--primaryColor);
    font-family: var(--headingFont);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: var(--offWhiteColor);
    padding: 8px 24px;
    text-transform: capitalize;
}
.list_area_wrapper{
    width: 100%;
    padding: 25px 56px;
    .main_list_wrapper{
        width: 100%;
        height: 670px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.20);
        border-radius: 10px;
        overflow: auto;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none; 
        &::-webkit-scrollbar{
            display: none;
        }
    }
    .header_wrapper{
        width: 100%;
        padding: 18px 20px;
        h2{
            color: var(--primaryColor);
            font-family: var(--headingFont);
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        .button_wrapper{
            .button{
                width: 180px;
                height: 36px;
                border-radius: 8px;
                box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                color: var(--primaryColor);
                font-family: var(--commonFont);
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px; /* 142.857% */
                cursor: pointer;
                background-color: var(--offWhiteColorV8);
                &.new{
                    background-color: var(--primaryColor);
                    color: var(--whiteColor);
                    margin-left: 15px;
                    img{
                        margin-right: 8px;
                    }
                }
            }
        }
    }

    .script_table_wrapper{
        width: 100%;
        // overflow: auto;
        // -ms-overflow-style: none;  /* IE and Edge */
        // scrollbar-width: none; 
        // &::-webkit-scrollbar{
        //     display: none;
        // }
        .script_table{
            width: 100%;
            border-collapse: collapse;
            thead{
                tr{
                    border-top: #D5DDEC 1px solid;
                    border-bottom: #D5DDEC 1px solid;
                    th{
                        background-color: #f8fafb;
                        color: var(--textGrayColorV11);
                        font-family: var(--headingFont);
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        letter-spacing: 0.6px;
                        text-transform: uppercase;
                        text-align: left;
                        padding: 15px 20px;
                        text-wrap: nowrap;
                    }
                }
                
            }
            tbody{
                tr{
                    border-bottom: #D5DDEC 1px solid;
                    td{
                        background-color: var(--whiteColor);
                        color: var(--darkColorV3);
                        font-family: var(--headingFont);
                        font-size: 14px;
                        text-transform: none;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        letter-spacing: 0.6px;
                        text-transform: none;
                        text-align: left;
                        padding: 15px 20px;
                        .select_main_level{
                            border-radius: 100px;
                            border: 1px solid #9CA3AF;
                            padding: 2px 4px;
                            color: var(--darkColorV9);
                            font-family: var(--commonFont);
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px; /* 150% */
                            margin-right: 6px;
                        }
                        .select_more_level{
                            color: #058DDA;
                            font-family: var(--commonFont);
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            letter-spacing: 0.07px;
                            border: #058DDA 1px solid;
                            border-radius: 100px;
                            padding: 1px 5px;
                        }
                        .add_button{
                            cursor: pointer;
                            margin-left: 6px;
                            width: 20px;
                            height: 20px;
                            border-radius: 100%;
                            border: #667085 1px dashed;
                            cursor: pointer;
                        }
                        .action{
                            img{
                                margin-right: 25px;
                                cursor: pointer;
                                &:last-child{
                                    margin-right: 0;
                                }
                            }
                        }
                        .skills_area{
                            position:relative;
                            .skill_drop_area_wrapper{
                                width: 241px;
                                background-color: var(--whiteColor);
                                box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.05), 0px 12px 16px -4px rgba(16, 24, 40, 0.10);
                                border-radius: 8px;
                                position: absolute;
                                top: calc(100% + 6px);
                                left: -15px;
                                z-index: 9999;
                                .top_area{
                                    width: 100%;
                                    padding: 10px 10px 0 10px;
                                    border-bottom: #e6e6e6 1px solid;
                                    .search_box{
                                        width: 100%;
                                        border-radius: 8px;
                                        border: 1px solid rgba(0, 0, 0, 0.10);
                                        background-color: #F9FAFB;
                                        padding: 0 22px;
                                        img{
                                            margin-right: 16px;
                                        }
                                        input[type="text"]{
                                            width: 100%;
                                            height: 49px;
                                            border: none;
                                            outline: none;
                                            color: var(--subHeadingColorV2);
                                            font-family: var(--commonFont);
                                            font-size: 16px;
                                            font-style: normal;
                                            font-weight: 500;
                                            line-height: normal;
                                            &::placeholder{
                                                color: var(--subHeadingColorV2);
                                                font-family: var(--commonFont);
                                                font-size: 16px;
                                                font-style: normal;
                                                font-weight: 500;
                                                line-height: normal;
                                            }
                                        }
                                    }
                                    .check_box_wrapper{
                                        input[type="checkbox"] + label{
                                            color: var(--primaryColor);
                                        }
                                    }
                                }
                                .check_box_wrapper{
                                    padding: 10px 6px;
                                    position: relative;
                                    input[type="checkbox"]{
                                        opacity: 0;
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                    }
                                    input[type="checkbox"] + label{
                                        color: var(--textGrayColorV10);
                                        font-family: var(--commonFont);
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 24px; /* 150% */
                                        display: flex;
                                        align-items: center;
                                        cursor: pointer;
                                    }
                                    input[type="checkbox"] + label span{
                                        flex: 0 0 20px;
                                        width: 20px;
                                        height: 20px;
                                        border: var(--primaryColor) 2px solid;
                                        border-radius: 3px;
                                        margin-right: 8px;
                                        position: relative;
                                        cursor: pointer;
                                        &::after{
                                            width: 20px;
                                            height: 20px;
                                            background-image: url(/assets/dashboard/main_dashboard/admin/platformConfiguration/callScript/check.svg);
                                            background-position: center;
                                            background-repeat: no-repeat;
                                            position: absolute;
                                            top: -2px;
                                            left: -2px;
                                            content: "";
                                            filter: brightness(0) invert(1);
                                            background-size: 60%;
                                            opacity: 0;
                                        }
                                    }
                                    input[type="checkbox"]:checked + label span{
                                        background-color: var(--primaryColor);
                                        &::after{
                                            opacity: 1;
                                        }
                                    }
                                }
                                .filter_area{
                                    width: 100%;
                                    padding: 0 10px;
                                }
                                .button_area{
                                    width: 100%;
                                    background-color: #F9FAFB;
                                    padding: 8px 20px;
                                    .button{
                                        border-radius: 6px;
                                        border: 1px solid var(--offWhiteColorV15);
                                        background-color: var(--whiteColor);
                                        width: 75px;
                                        height: 38px;
                                        color: var(--textGrayColorV10);
                                        text-align: center;
                                        font-family: var(--commonFont);
                                        font-size: 15px;
                                        font-style: normal;
                                        font-weight: 600;
                                        line-height: normal;
                                        letter-spacing: 0.075px;
                                        margin-right: 12px;
                                        cursor: pointer;
                                        &.blue{
                                            margin-right: 0;
                                            background-color: var(--primaryColor);
                                            color: var(--whiteColor);
                                        }
                                        
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
}

@media only screen and (max-width:1500px){
    .list_area_wrapper{
        padding: 25px;
    }
}


@media only screen and (max-width:1200px){
    .list_area_wrapper {
        .script_table_wrapper{
            overflow: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar{
                display: none;
            }
            .script_table{
                width: 1200px;
                thead{
                    tr{
                        th{
                            font-size: 9px;
                        }
                    }
                }
                tbody{
                    tr{
                        td{
                            font-size: 10px;
                        }
                    }
                }
            }
        }
        .header_wrapper{
            flex-wrap: wrap;
            text-align: center;
            h2{
                flex: 0 0 100%;
                margin-bottom: 20px;
            }
            .button_wrapper{
                flex-wrap: wrap;
                flex: 0 0 100%;
                .button{
                    flex: 0 0 100%;
                    margin-bottom: 10px;
                    margin-left: 0 !important;
                }
            }
        }
    }
}