.workflow_chart_data_grid_wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .top_cards_area{
        width: 100%;
        &.report{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 24px;
            .portion{
                &:first-child, &:last-child{
                    width: 100%;
                    padding: 0;
                }
            }
           
        }
        .portion{
            width: 100%;
            &:first-child{
                width: 40%;
                flex: 0 0 40%;
                padding-right: 12px;
            }
            &:last-child{
                width: 60%;
                flex: 0 0 60%;
                padding-left: 12px;
            }
        }
        
    }
    .bottom_cards_area{
        width: 100%;
        .portion{
            width: 32.5%;
        }
        
    }
    .card{
        width: 100%;
        border-radius: 8px;
        background-color: var(--whiteColor);
        box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.05), 0px 12px 16px -4px rgba(16, 24, 40, 0.05);
        padding: 12px;
        margin-bottom: 15px;
        &:nth-child(1){
            flex: 0 0 40%;
        }
        &:nth-child(2){
            flex: 0 0 59%;
        }
        .status_header{
            width: 100%;
            margin-bottom: 32px;
            h2{
                color: var(--subHeadingColor);
                font-family: var(--headingFont);
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 150%; /* 24px */
            }
        }
        .graph_area_wrapper{
            width: 100%;
        }
        .graph_area_wrap{
            width: 100%;
            height: 300px;
            position: relative;
            h6{
                position: absolute;
                bottom: 41%;
                left: 6px;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: rotate(-90deg);
                transform-origin: left;
                color: #4E545F;
                font-family: Plus Jakarta Sans;
                font-size: 12px;
                font-style: normal;
                font-weight: 600;
                line-height: 16px; /* 133.333% */
            }
        }
    }
}

@media only screen and (max-width:991px){
    .workflow_chart_data_grid_wrapper {
        .top_cards_area{
            flex-wrap: wrap;
            
            .portion{
                width: 100% !important;
                flex: 0 0 100% !important;
                padding: 0 !important;
                .card{
                    width: 100%;
                }
            }
            
        }
        .bottom_cards_area{
            flex-wrap: wrap;
            .portion{
                flex: 0 0 100%;
                width: 100%;
                .card{
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width:800px){
    .workflow_chart_data_grid_wrapper {
        .top_cards_area{
            &.report{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 24px;
            }
            
            
        }
        
    }
}