.quality_form_button{
    width: 111px;
    height: 37px;
    border-radius: 6px;
    border: 1px solid var(--primaryColor);
    background: var(--whiteColor);
    color: var(--primaryColor);
    font-family: var(--commonFont);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.07px;
    cursor: pointer;
    margin-right: 15px;
}