.table_card_area{
    width: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.campaign_report_area_wrapper{
    width: 100%;
    margin-top: 22px;
}
.head_filter_area{
    width: 100%;
    padding: 12px;
    padding-bottom: 0;
    background-color: var(--whiteColor);
    
    
    
     .search_wrapper{
        width: 413px;
        flex: 0 0 413px;
        position: relative;
        .search{
            position: absolute;
            left: 20px;
            top: 0;
            bottom: 0;
            margin: auto;
            cursor: pointer;
        }
        .form_control{
            width: 100%;
            height: 49px;
            background-color: #F9FAFB;
            border-radius: 8px;
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            border: 1px solid var(--lightWhiteColor);
            color: var(--textGrayColorV7);
            font-family: var(--headingFont);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            padding: 0 20px 0 52px;
            &::placeholder{
                color: var(--textGrayColorV7);
                font-family: var(--headingFont);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }
        }
     }

    .filter_button{
        height: 38px;
        padding: 0 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: var(--lightWhiteColor) 1px solid;
        color: var(--textGrayColorV8);
        font-family: var(--commonFont);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        border-radius: 8px;
        cursor: pointer;
        margin-left: 18px;
        .filter_line_icon{
            margin-left: 8px;
        }
        &.active{
            background-color: #e6edf4;
        }
    }
    .new_list_button{
        height: 38px;
        padding: 0 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--whiteColor);
        font-family: var(--commonFont);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 142.857% */
        border-radius: 8px;
        border: 1px solid var(--primaryColor);
        background-color: var(--primaryColor);
        margin-left: 18px;
        cursor: pointer;
        img{
            margin-right: 8px;
        }
    }
    
    @media only screen and (max-width:1600px){
        .filter_button{
            padding: 0 12px;
            font-size: 11px;
        }
    }
    
    @media only screen and (max-width:750px){
        .filter_button{
            margin-left: 0;
        }
    }
   
}



.table_responsive_wrap{
    width: 100%;
    padding: 12px;
    
}
.ticketTable{
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    thead{
        tr{
            width: 100%;
            border-top: none;
            border-bottom: #d5deec 1px solid;
            text-align: left;
        }
        th{
            background-color: #f8fafb;
            color: var(--textGrayColorV11);
            font-family: var(--headingFont);
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.6px;
            text-transform: uppercase;
            padding: 18px 8px;
            text-wrap: nowrap;
            &:first-child{
                padding-left: 20px;
            }
            &:last-child{
                padding-right: 20px;
            }
            &:first-child{
                width: 50px !important;
            }
        }
        .checkbox{
            input[type="checkbox"] + label span{
                border-color: #8b83ba;
            }
        }
        
    }
    tbody{
        td{
            color: var(--darkColorV3);
            font-family: var(--headingFont);
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            padding: 18px 8px;
            text-transform: none;
            letter-spacing: normal;
            background-color: transparent !important;
            cursor: pointer;
            .dnc{
                color: var(--secondaryColor);
                text-transform: uppercase;
                font-weight: 700;
            }
            .add_pop{
                position: relative;
            }
            &:first-child{
                padding-left: 20px;
            }
            &:last-child{
                padding-right: 20px;
            }
            .add{
                position: relative;
                .campaignItem{
                    cursor: pointer;
                }
                .campaignItem{
                    &:hover{
                        .hover_item{
                            display: block;
                        }
                    }
                }
                
                img{
                    margin-left: 8px !important;
                    cursor: pointer;
                }
                .none{
                    color: var(--subHeadingColorV2);
                    font-family: var(--headingFont);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    cursor:help;
                }
                .add_pop{
                    &:hover{
                        img{
                            filter: hue-rotate(118deg);
                        }
                    }
                }
                
                .hover_item{
                    position: absolute;
                    width: 250px;
                    border-radius: 8px;
                    background-color: var(--whiteColor);
                    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.05), 0px 12px 16px -4px rgba(16, 24, 40, 0.10);
                    top: 100%;
                    left: 0;
                    display: none;
                    transition: all .5s ease-in;
                    z-index: 9;
                    li{
                        padding: 10px 14px;
                        color: var(--darkColorV2);
                        font-family: var(--commonFont);
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px; /* 150% */
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .status{
                            font-family: var(--headingFont);
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            padding: 4px 8px;
                            border-radius: 4px;
                            border: 1px solid transparent;
                            text-transform: uppercase;
                            &.inprogress{
                                border-color: var(--secondaryColor);
                                color: var(--secondaryColor);
                            }
                            &.completed{
                                border-color: var(--greenColor);
                                color: var(--greenColor);
                            }
                            &.draft{
                                border-color: var(--textGrayColorV10);
                                color: var(--textGrayColorV10);
                            }
                        }
                    }
                }
                
            }
            .tag{
                border-radius: 4px;
                border: 1px solid var(--textGrayColorV10);
                padding: 4px 8px;
                background: rgba(0, 83, 159, 0.00);
                color: var(--textGrayColorV10);
                font-family: var(--headingFont);
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: uppercase;
            }
            &.icon{
                img{
                    margin-right: 5px;
                }
            }
            img{
                &.active{
                    cursor: pointer;
                }
                
            }
            .connected_status{
                border-radius: 4px;
                border: 1px solid var(--textGrayColorV10);
                background: rgba(0, 83, 159, 0.00);
                padding: 4px 8px;
                color: var(--textGrayColorV10);
                font-family: var(--headingFont);
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                &.no{
                    border-color: var(--redColor);
                    color: var(--redColor);
                }
            }
            .action_icons{
                li{
                    margin-right: 28px;
                    cursor: pointer;
                    position: relative;
                    &:last-child{
                        margin-right: 0;
                    }
                    .non_edit{
                        opacity: .5;
                        cursor: help;
                    }
                    .not_edit_pop{
                        position: absolute;
                        bottom: 25px;
                        right: -160px;
                        padding: 12px;
                        border-radius: 8px;
                        background-color: var(--whiteColor);
                        width: 328px;
                        box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.05), 0px 12px 16px -4px rgba(16, 24, 40, 0.10);
                        display: none;
                        &::before{
                            background-image: url(/assets/dashboard/main_dashboard/admin/campaignManager/list/tooltip.svg);
                            background-repeat: no-repeat;
                            background-position: center bottom;
                            width: 16px;
                            height: 6px;
                            position: absolute;
                            bottom: -5px;
                            left: 0;
                            right: 0;
                            margin: auto;
                            content: "";
                        }
                        h5{
                            color: var(--redColor);
                            font-family: var(--commonFont);
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 18px; /* 128.571% */
                        }
                        p{
                            color: var(--textGrayColorV10);
                            font-family: var(--commonFont);
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 18px; /* 128.571% */
                        }
                    }
                    &:hover{
                       .not_edit_pop{
                            display: block;
                       } 
                    }
                }
            }
            
            
        }
        tr{
            border-bottom: #d5deec 1px solid;
            
            &:last-child{
                border-bottom: none;
            }
        }
    }
    
}

.checkbox{
    position: relative;
    input[type="checkbox"]{
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        cursor: pointer;
        z-index: 9;
    }
    input[type="checkbox"] + label span{
        width: 20px;
        height: 20px;
        border: var(--primaryColor) 2px solid;
        border-radius: 3px;
        display: block;
        position: relative;
        &::before{
            width: 20px;
            height: 20px;
            background-image: url(/assets//dashboard//main_dashboard/check.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70%;
            position: absolute;
            top: -2px;
            left: -2px;
            margin: auto;
            content: "";
            filter: brightness(0) invert(1);
            display: none;
        }
        
    }
    input[type="checkbox"]:checked + label span{
        background-color: var(--primaryColor);
        &::before{
            display: block;
        }

        
    }
}

.table_details_pop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9999;
    .main_area{
        width: 535px;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        padding: 15px;
        background-color: var(--whiteColor);
        z-index: 9999;
        .head{
            width: 100%;
            margin-bottom: 8px;
            h2{
                font-family: var(--headingFont);
                font-size: 18px;
                font-weight: 800;
                line-height: 23px;
                color: var(--textGrayColorV10);
                span{
                    font-weight: 500;
                    font-size: 14px;
                }

            }
            .cross{
                cursor: pointer;
            }
        }

        .list_area{
            width: 100%;
            li{
                width: 100%;
                min-height: 38px;
                padding: 9px 0;
                border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
                font-family: var(--headingFont);
                font-size: 14px;
                font-weight: 500;
                line-height: 18px;
                color: var(--textGrayColorV10);
                &:last-child{
                    border-bottom: none;
                }
                .textarea{
                    width: 100%;
                    height: 95px;
                    padding: 14px;
                    color: #667085;
                    font-family: var(--headingFont);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    border: rgba(0, 0, 0, 0.1) 1px solid;
                    border-radius: 8px;
                    margin-top: 10px;
                    resize: none;

                }
                .disposition{
                    color: var(--secondaryColor);
                }
                .avatar_wrap{
                    img{
                        margin-right: 8px;
                    }
                }

            }
        }

    }
}




@media only screen and (max-width:1600px){
    .ticketTable{
        thead{
            th{
                text-wrap: wrap !important;
                font-size: 10px;
            }
        }
        td{
            text-overflow: ellipsis;
            white-space: wrap !important;
            font-size: 11px;
        }
        tbody {
            td{
                font-size: 11px;
                white-space: wrap !important;
            }
        }
    }
    .profile_wrap {
        .name{
            font-size: 12px;
        }
        .phone{
            font-size: 12px;
        }
        
    }
    .ticket_id{
        font-size: 11px;
    }
    .badge{
        font-size: 10px;
    }
    .live{
        width: 63px;
        font-size: 10px;
        display: block;
        padding: 4px 12px 4px 25px;
        &:before{
            width: 5px;
            height: 5px;
        }
    }
}


@media only screen and (max-width:1600px){
    .head_filter_area{
        .search_wrapper{
            flex: 0 0 280px;
            width: 280px;
        }
        .filter_button{
            margin-left: 10px;
        }
        .new_list_button{
            margin-left: 10px;
            font-size: 11px;
            padding: 0 12px
        }
    }
    .table_responsive_wrap{
        overflow: auto;
        // table{
        //     &.ticketTable {
        //         width: 1200px;
        //     }
        // }
    }
    .ticketTable {
        tbody {
            td {
                .action_icons {
                    li {
                        .not_edit_pop{
                            right: -117px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 991px){
    @media only screen and (max-width:1600px){
        .head_filter_area{
            flex-wrap: wrap;
            .search_wrapper{
                width: 100%;
                flex: 0 0 100%;
                margin-bottom: 10px;
            }
            .right_area_details_wrap{
                flex-wrap: wrap;
                .filter_button{
                    margin-bottom: 8px;
                }
                .new_list_button{
                    margin-bottom: 8px;
                }
            }
        }
    }
    .table_responsive_wrap{
        overflow: auto;
        table{
            width: 1200px;
        }
    }
}